TIMEZONE="America/New_York"
DB_DRIVER="pdo_mysql"
DB_HOST="localhost"
DB_USER="root"
DB_PASSWORD="password"
DB_DATABASE="myapp"
FB_APP_ID="XXXXXX"
FB_APP_SECRET="XXXXXXXXXXXXXXXX"
DB_DEBUG=0
VIEW_DEBUG=0
